
.divContain {
    background-color: #ececec;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 6rem;

  }
  .d{
    /* margin-left: 20rem; */
  }
  
  .contain {
    display: flex;
    justify-content: space-around; /* Ajusta el espacio entre los botones */
     /* Margen inferior opcional */
  }
  
  .mas {
    padding: 8px 16px;
    margin: 0 5px; /* Espacio horizontal entre botones */
    /* Otros estilos para el botón */
  }
  
  .selectBox {
    /* Estilos para el select */
    /* Por ejemplo: */
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  .mas{
    border-radius: 190px;
    font-size: 20px;
    margin-top: 10px;
  }
  
 .letter1 {
    color: #faa307; /* Estilo para la primera letra */
    font-size: 90px; /* Tamaño más grande para la primera letra */
    font-weight: 400; /* Hacerla más delgada */
    animation: moveLetter1 1s infinite;
  }
  
 .letter2 {
    color: #f48c06;
    font-size: 90px; /* Tamaño más grande para la primera letra */
    font-weight: 400; 
    animation: moveLetter1 1s infinite;/* Estilo para la segunda letra */
    /* Otros estilos para la segunda letra si es necesario */
  }
  
  
 .letter3 {
    color: rgb(255, 218, 6);
    font-size: 90px; /* Tamaño más grande para la primera letra */
    font-weight: 400;
    animation: moveLetter1 1s infinite; /* Estilo para la tercera letra */
    /* Otros estilos para la tercera letra si es necesario */
  }
  /* Estilos para las opciones */
  .optionStyle {
    /* Estilos para las opciones */
    /* Por ejemplo: */
    color: #333;
    font-size: 14px;
  }
  .divo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  
  .card {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .d {
    padding-top: 0;
  }
  
  .img{
    border-radius: 180px;
    width:56px;
    margin-top: 20px;
    }