


.contentContainer {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ajusta según sea necesario */
}

.loginRegisterContainer {
    width: 45%; /* Ajusta según sea necesario */
}



.searchBar {
    position: absolute;
    width: 551px;
    height: 55px;
    top: 200px;
    left: 80%;
    transform: translateX(-50%);
     display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 0 15px;
    border-radius: 0.72731rem;
  
    
}
.featureList {
    list-style-type: none;
    padding: 0;
  }
  
  .featureList li {
    margin-bottom: 20px;
  }
  
  .featureList strong {
    font-size: 1.2em;
    color: #123044; /* Color de texto azul (puedes ajustar según tu preferencia) */
  }
  
  .featureList p {
    font-size: 1em;
    color: #555;
  }
  
.descriptionContainer h1 {
    color: rgb(63, 59, 59);
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  
    .descriptionContainer p {
    font-size: 1.2em;
    line-height: 1.4;
  }
  
.descriptionContainer {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
      border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    top: 200px;
    width: 45%; /* Ajusta según sea necesario */
   left: 10%;
   position: absolute;
   top: 200px;
 background-color: #d8d8d8a3;
   margin: 4rem;  
   border-radius: 1rem;
   box-shadow: 0 2px rgba(0, 0, 0, 0.418);
   
}


.landingContainer {
    background-image: url("https://img3.wallspic.com/crops/7/5/1/0/30157/30157-la_seguridad_de_la_informacin-seguridad_hacker-3840x2160.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

  