.container {
   color: #32373c;
   font-family: Open Sans,sans-serif;
   font-size: 20px;
   line-height: 1.5;
 
  width: 100%;

   display: flex;
   justify-content: center; /* Centrado horizontal */
   align-items: center; /* Centrado vertical */
  
}
.container button {
  align-items: center;
  border-radius: 8px;
  color: #0f2832;
  cursor: pointer;
  font-size: 12px;

  font-size: 16px;
  font: 15px Arial, sans-serif;
  font-family: inherit;
  min-height: 40px;
  min-width: 99px;
  padding: 6px 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s;
  background-color: #efb700;
  margin: 7px;
}

.content {

  width: 50%;
    
}

.image {
   flex: 1;
   text-align: center;
   width: 1100px;
   display: flex;
   justify-content: center; 
   align-items: center; 
   
 }
