.container { 
  /* background: radial-gradient(103.88% 58.43% at 56.74% 50%, #0085FF 0%, #003465 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;

 
}


.containerRegister{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
}


.reg{
  color: #29525c;
  font-family: Roboto;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.02813rem;
}
 
.text p {
  font-weight:lighter; /* Hacer el texto en negrita */
  font-size: 2em; /* Aumentar ligeramente el tamaño del texto */
}

.text {
  margin-right: 2rempx; /* Ajusta el margen según sea necesario */
}

.navButtons {
  margin-top: 0px; /* Agrega un margen superior para separar el botón de registro */
  /* Otros estilos para el botón de registro si es necesario */
}

.image img {
  width: 40rem;
  margin-left:100px;
  /* Estilos adicionales para la imagen */
}
.text h1 {
  display: inline-block;
  position: relative;
}

.text span {
  margin-right: 65px;
  margin-left: 50px;
   /* Espacio entre las letras */
}

.text .letter1 {
  color: #faa307; /* Estilo para la primera letra */
  font-size: 120px; /* Tamaño más grande para la primera letra */
  font-weight: 400; /* Hacerla más delgada */
  animation: moveLetter1 1s infinite;
}

.text .letter2 {
  color: #f48c06;
  font-size: 120px; /* Tamaño más grande para la primera letra */
  font-weight: 400; 
  animation: moveLetter1 1s infinite;/* Estilo para la segunda letra */
  /* Otros estilos para la segunda letra si es necesario */
}


.text .letter3 {
  color: rgb(255, 218, 6);
  font-size: 120px; /* Tamaño más grande para la primera letra */
  font-weight: 400;
  animation: moveLetter1 1s infinite; /* Estilo para la tercera letra */
  /* Otros estilos para la tercera letra si es necesario */
}