.container {
   color: #32373c;
   font-family: Open Sans,sans-serif;
   font-size: 20px;
   line-height: 1.5;
 
  width: 100%;

   display: flex;
   justify-content: center; /* Centrado horizontal */
   align-items: center; /* Centrado vertical */
  
}
.container button {
  align-items: center;
  border-radius: 8px;
  color: #0f2832;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  min-height: 40px;
  min-width: 80px;
  padding: 6px 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s;
  background-color: #efb700;
}

.content {
   /* background-color: aqua; */
  width: 50%;
  
}

.image {
   flex: 1;
   text-align: center;
   /* background-color: blueviolet; */
   width: 1100px;
 
  
      display: flex;
   justify-content: center; /* Centrado horizontal */
   align-items: center; 
   
 }
