/* Home.module.css */


.Dnitd{

 width: 10%;
   /* Ajusta el ancho de la tabla según sea necesario */
}
.input{
  width: 100%;
}
.overla {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté en la parte superior */
}
.divPr {
  display: flex;
  justify-content: center;
  align-items: center;
 width: 22%;
  height: 2rem;
  background-color: #344E41; 
  border-radius: 35px;
  color: white;
  min-width: 200px;
  max-width: 400px;
}
.overlayContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.overlayContent p {
  margin-bottom: 20px;
}

.overlayContent button {
  background-color: #4F886B;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.tableHeaderRow th {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Centra el contenido verticalmente */
}

.overlayContent button:hover {
  background-color: #2e692e;
}
.imge{

  width: 10%;
    /* Ajusta el ancho de la tabla según sea necesario */
 }
.motitd{

  width: 13%;
    /* Ajusta el ancho de la tabla según sea necesario */
 }


.userTable th {
  text-align: center; /* Ajusta el relleno de las celdas según sea necesario */
  
  background-color: #555b6e;
  color: rgb(232, 232, 232);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.thMotivo{
width: 20rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.imagenEnGrandeContainer {
  max-width: 80%;
  max-height: 80%;
}

.img-zoom {
  transition: transform 0.3s ease;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}

.img-zoom:hover {
  transform: scale(1.2);
}
.img{
  width: 70px;
  height: 60px;
  border-radius: 100%;
  margin: auto;

}

.contetTitle{
  margin: 7rem;
  text-align: center; 
}

.title {
  color: #344E41;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600; /* Esto establece el grosor de la fuente a semibold */
  line-height: normal;
  margin-bottom: -3rem;
}

.contentTable{
  
  height: 100%;
  width: 90%;
  margin-left: auto;
  background-color: white;
  margin-right: 4rem;
  border-radius: 15px;
  margin-bottom: 3rem;
}

.paginateButton {
  background-color: #000000;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 0 0.2rem;
  font-size: 1rem;
}

.paginateButton:hover {
  background-color: #294036;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn:last-child {
  margin-bottom: 0.2rem;
  background-color: #924242;
}

.btn {
  background-color: #4F886B;
  color: #FFFFFF; 
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Arial', sans-serif; 
  font-size: 0.83331rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.00831rem;
  border: none; 
  padding: 10px 20px; 
  border-radius: 0.4rem;
  letter-spacing: 0.00831rem;
  width: 270px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px rgba(0, 0, 0, 0.418);
  margin-left: 1.5rem;
}


/*tabla*/
.tableHeader {
  
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #344E41;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600; /* Esto establece el grosor de la fuente a semibold */
  line-height: normal;
  margin-left: 4rem;
}
.tableHeaderRow th {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Centra el contenido verticalmente */
}
.tableActions {
  display: flex;
  justify-content: flex-end;
  margin-left: 5rem;
}

.blueButton {
  background-color: #4F886B;
  color: white;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  width: 100px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 1.5px rgba(0, 0, 0, 0.418);
}



.userTable {
  
  width: 98%;
  border-collapse: collapse;
  margin-top: 10px; 
  margin-left: 1rem;
    border: none; /* Elimina los bordes en las celdas */
  padding: 8px;
}



.userTable td, .userTable th {
  border-bottom: 1px solid #dddddd; /* Añade una línea de separación inferior */
  padding: 8px; 

  text-align: left;
  padding: 8px;
}

.userTable td {
  height: 1px;
  text-align: center; /* Centra el contenido de las celdas */
  background-color: #99999910;
  color: rgb(0, 0, 0);
  border-top: 1px solid #dddddd; 
}



.viewButton {
  background-color: #C9F7F5;
  color: rgba(0, 0, 0, 0.76);
  box-shadow: 0 1.5px rgba(0, 0, 0, 0.288);
  margin-left: 10px;
  width: 171.49px;
  height: 35px;
  top: 174px;
  left: 886px;
  border-radius: 6px;
  border: none ;
  cursor: pointer;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Arial', sans-serif; 
  font-size: 0.83331rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.00831rem;
}
