.div {
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: 30px;
    height: 160px;
    justify-content: center;
    margin-inline-start: 0px;
}




.button {
    margin-top: 20px;
    width: 52px;
    height: 53px;
    background-color: #ef233c;
    padding: 12px 26px;
    padding-bottom: 18px;
    font-size: 16px;
    transition: all 150ms ease-in-out;
    border-radius: 20px;
    color: #071432;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0, inset 0px -6px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.p {
    display: inline-block;
    margin-top: 90px;
    width: 100px;
    margin-inline-start: 40px;
    flex-grow: 1
}

.b {
    display: inline-block;
    margin-top: 90px;
    width: 100px;
    margin-inline-start: 100px;
    flex-grow: 1
}

.ver {
    margin-left: 80px;
    margin-top: 29px;
    height: 70px;
    padding: 12px 26px;
    padding-bottom: 18px;
    font-size: 16px;
    transition: all 150ms ease-in-out;
    border-radius: 20px;
    color: #071432;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0, inset 0px -6px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;

}

.coso {
    margin-left: 40px;

    width: 900px;
    gap: 20px;
    margin-top: 22px;
    height: 120px;
    background-color: rgba(100, 100, 100, 0.281);
    border-radius: 12px;
    display: flex;
    /* Hace que los elementos se alineen en una fila */
    align-items: center;
    /* Alinea los elementos verticalmente en el centro, si es necesario */

}

.h2 {
    font-size: 25px;
    margin-bottom: 100px;
    margin-top: 15px;

}



.nav {
    margin-top: 19px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
}

.img {
    margin-left: 50px;
    border-radius: 88px;
    width: 89px;
    margin-top: 29px;
}