.formContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40rem;
}


.formContainer h3 {
  color: #000;
  /* Estilos específicos para el encabezado h3 */
}

/* Estilos para el título del formulario */
.formContainer h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los grupos de elementos del formulario */
.formGroup {
  margin-bottom: 15px;
}

/* Estilos para los inputs de texto */
.dni,
.largeInput {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el input más grande (motivo) */
.largeInput {
  height: 100px;
  resize: vertical;
}

/* Estilos para el botón */
.button {
  color: #000;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;


  cursor: pointer;
}

/* Estilos para la imagen */
.img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}