.formContainer {
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40rem;
}

.form{
}
.formContainer h3 {
  display: flex;
  color: #000;
  /* Estilos específicos para el encabezado h3 */
}

/* Estilos para el título del formulario */
.formContainer h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los grupos de elementos del formulario */
.formGroup {
  margin-bottom: 15px;
}

/* Estilos para los inputs de texto */
.dni,
.largeInput {
  width: 50%;
  padding: 5px;
  border-radius:1.2rem;
  border: 1px solid #D4D7E3;
  background: #F7FBFF;
  color: #8897AD;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 0.83331rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.83331rem */
  letter-spacing: 0.00831rem;
  width: 250px;
  height: 30px;
}

/* Estilos para el input más grande (motivo) */
.largeInput {
  height: 100px;
  resize: vertical;
}

/* Estilos para el botón */
.button {
  background-color: #375345;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 3rem;
    width: 250px;
    
    margin-bottom: 1rem;
}

/* Estilos para la imagen */
.img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}